<app-header backButton="/main/home" title="Asistencia de alumnos"></app-header>

<ion-content>

  <ion-card *ngFor="let seccion of secciones">
    <ion-card-header>
      {{ seccion.id_seccion }}
    </ion-card-header>
    <ion-card-content>
      Código sección: {{ seccion.id_ramo }}
    <ion-tab-button (click)="verAlumnos(seccion.id_seccion)">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>alumnos</ion-label>
    </ion-tab-button>
    </ion-card-content>
    
  </ion-card>

</ion-content>