<app-header backButton="main/home-estudiante" title="Asistencia estudiante"></app-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><h2>-- NOMBRE DEL RAMO --</h2>
            <h3>-- ASIST --</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><h2>-- NOMBRE DEL RAMO --</h2>
            <h3>-- ASIST --</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
